<div class="headerFlex">
  <div class="headerLeft">
    <div class="imageWrapper">
      <img
        src="/images/me2.jpg"
        alt="me"
        width="100"
        height="100"
        class="image"
      />
    </div>
    <h1>Boris Topalov</h1>
  </div>

  <div class="headerRight">
    <h4>full-stack software engineer & hobbyist musician</h4>
    <h4>new york, ny</h4>
    <h4>boristopalov1@gmail.com</h4>
    <div class="socialLinks">
      <a
        href="https://github.com/boristopalov"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="/images/github.svg" alt="Github" width="25" height="25" />
      </a>
      <a
        href="https://linkedin.com/in/boristopalov"
        class="leftPad"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="/images/linkedin.svg" alt="LinkedIn" width="25" height="25" />
      </a>
      <a href="mailto:boristopalov1@gmail.com" class="leftPad">
        <img src="/images/email.svg" alt="Email me" width="25" height="25" />
      </a>
    </div>
  </div>
</div>

<div class="meText">
  <h1>about me</h1>
  <p>
    I'm a full-stack software engineer based in NYC with 2.5 years of
    professional experience. I currently work on B2B payments infrastructure at
    Capital One. Outside of work, I'm learning about LLMs by building
    <a
      href="https://github.com/boristopalov/abby"
      target="_blank"
      rel="noopener noreferrer"
      style="border-bottom: 2px solid var(--accent-color)"
      >Abby</a
    >, an AI assistant for Ableton, and
    <a
      href="https://github.com/boristopalov/petri"
      target="_blank"
      rel="noopener noreferrer"
      style="border-bottom: 2px solid var(--accent-color)"
      >Petri</a
    >, a tool for multi-agent AI-to-AI experiments. Beyond coding, I spend most
    of my time making music; these days I'm mainly producing electronic music
    and DJing.
  </p>
</div>
