<h1>projects</h1>
<div class="projects-list">
  {{ range .Site.Data.projects }}
  <div class="project-item">
    <div class="project-header">
      <div class="project-title-group">
        <h3>{{ .title }}</h3>
      </div>
      <div>
        {{ if .ghUrl }}
        <a href="{{ .ghUrl }}" target="_blank" rel="noopener noreferrer">
          <img
            src="/images/github.svg"
            alt="GitHub Link"
            width="25"
            height="25"
          />
        </a>
        {{ end }}
      </div>
    </div>
    <p>{{ .description | safeHTML }}</p>
  </div>
  {{ end }}
</div>
