<div class="leftSide">
  <div class="imageWrapper">
    <img src="/images/me.jpg" alt="me" width="100" height="100" class="image" />
  </div>
  <h3>boris topalov</h3>
  <span>analyst &#38; developer</span>
  <br />
  <span>new york, ny </span>
  <span>boristopalov1@gmail.com</span>
  <div class="topMargin">
    <a
      href="https://github.com/boristopalov"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src="/images/github.svg" alt="Github" width="25" height="25" />
    </a>
    <a
      href="https://linkedin.com/in/boristopalov"
      class="leftPad"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src="/images/linkedin.svg" alt="LinkedIn" width="25" height="25" />
    </a>
    <a href="mailto:boristopalov1@gmail.com" class="leftPad">
      <img src="/images/email.svg" alt="Email me" width="25" height="25" />
    </a>
  </div>
</div>
