<div class="aboutSection">
  <h1>skills</h1>
  <div class="skillsSection">
    <div class="skillCategory">
      <h5>backend</h5>
      <div class="skillGrid">
        <div class="skillButton">Go</div>
        <div class="skillButton">Python</div>
        <div class="skillButton">Node.JS</div>
        <div class="skillButton">Java</div>
      </div>
    </div>

    <div class="skillCategory">
      <h5>frontend</h5>
      <div class="skillGrid">
        <div class="skillButton">React</div>
        <div class="skillButton">Svelte</div>
        <div class="skillButton">TypeScript</div>
        <div class="skillButton">Tailwind</div>
      </div>
    </div>

    <div class="skillCategory">
      <h5>tools + infra</h5>
      <div class="skillGrid">
        <div class="skillButton">AWS</div>
        <div class="skillButton">Docker</div>
        <div class="skillButton">GH Actions</div>
        <div class="skillButton">PostgreSQL</div>
        <div class="skillButton">MongoDB</div>
      </div>
    </div>
  </div>
</div>
