<div class="aboutSection">
  <h1>technologies</h1>
  <div class="skillsSection">
    <div class="skillCategory">
      <h5>backend</h5>
      <div class="skillGrid">
        <div class="skill">Go</div>
        <div class="skill">Python</div>
        <div class="skill">Node.JS</div>
        <div class="skill">Java</div>
      </div>
    </div>

    <div class="skillCategory">
      <h5>frontend</h5>
      <div class="skillGrid">
        <div class="skill">React</div>
        <div class="skill">Svelte</div>
        <div class="skill">TypeScript</div>
        <div class="skill">Tailwind</div>
      </div>
    </div>

    <div class="skillCategory">
      <h5>tools + infra</h5>
      <div class="skillGrid">
        <div class="skill">AWS (Certified)</div>
        <div class="skill">Docker</div>
        <div class="skill">GH Actions</div>
        <div class="skill">PostgreSQL</div>
        <div class="skill">MongoDB</div>
      </div>
    </div>
  </div>
</div>
