<h1>work experience</h1>
<div class="workSection">
  <div>
    <div>
      <div class="work-header">
        <div class="work-title-group">
          <span class="work-title">Software Engineer</span>
          <span class="company">| Capital One</span>
        </div>
        <span class="dates">August 2023-Present</span>
      </div>
      <ul>
        <li>
          Automated a previously-manual payment refund process which reduced
          refund processing time from several days to less than 15 minutes.
        </li>
        <li>
          Built a visualization tool for customer payment lifecycles, which is
          used by support agents servicing thousands of enterprise customers.
        </li>

        <li>
          Upgraded legacy Java codebases and resolved JVM issues such as memory
          misallocation inside Docker containers.
        </li>

        <li>
          Created a Quickbooks integration which received an award at 2023
          company hackathon.
        </li>
      </ul>
    </div>

    <div>
      <div class="work-header">
        <div class="work-title-group">
          <span class="work-title">Software Engineer</span>
          <span class="company">| Audialab</span>
        </div>
        <span class="dates">June 2024-October 2024</span>
      </div>
      <ul>
        <li>
          Owned, designed, developed, and shipped a cross-platform desktop audio
          plugin built in C++ (JUCE) and React.
        </li>
        <li>
          Built a pipeline in Python and AWS that used machine learning to
          extract musical stems for over 50,000 audio samples.
        </li>
        <li>
          Rearchitected core state management of a React codebase, resolving
          long-standing bugs and performance issues.
        </li>
        <li>
          Developed product strategy and pitch decks, created marketing
          material, and provided direct customer support for our applications on
          Discord.
        </li>
      </ul>
    </div>

    <div>
      <div class="work-header">
        <div class="work-title-group">
          <span class="work-title">Software Engineer Intern</span>
          <span class="company">| Comm</span>
        </div>
        <span class="dates">September 2021-December 2022</span>
      </div>
      <ul>
        <li>
          Built a fully autonomous GitHub crawler & scraper system which parsed
          thousands of GitHub pages and algorithmically ranked tens of thousands
          of GitHub users as candidates for recruiting.
        </li>
        <li>
          Created a custom priority-based job queuing system used by the system
          to prioritize scraping highly relevant data based on user-provided
          metrics.
        </li>
      </ul>
    </div>

    <div class="work-item">
      <div class="work-header">
        <div class="work-title-group">
          <span class="work-title">Business Analyst</span>
          <span class="company">| Capital One</span>
        </div>
        <span class="dates">August 2022-August 2023</span>
      </div>
      <ul>
        <li>
          Improved the performance of core SQL scripts by ~70% through SQL
          profilers, and re-wrote large chunks of undocumented, inefficient code
          into well-documented and maintainable solutions.
        </li>
        <li>
          Created an automation-focused analytics framework which was used by
          teams covering $20B lending portfolios.
        </li>
        <li>
          Developed a monitoring and analytics dashboard that analyzed millions
          of data points every day to aid executive decision-making of a $7B
          lending business.
        </li>
      </ul>
    </div>
  </div>
</div>
